{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" >
<link rel="stylesheet" href="{% static 'agendamento/css/meus_agendamentos.css' %}">
{% endblock %} 

{% block 'body' %}
<div class="box container-fluid margin text-center">
<h1 class="tit-depoi"> Agendar</h1>

<div class="box">
    <form method="POST" action="{% url 'valida'%}">{% csrf_token %}
<div class="form">
    <div class="text-center">
        <label >Selecione o dia : </label>
        <select class="select" name="dias" id="dias" width="100px">
            {% for dia in dias %}
            <option >{{dia}}</option>
            {% endfor%}
        </select>
    </div>
    <div class="text-center">
        <label>Selecione a Hora : </label>
        <select class="select" name="hora" id="hora">
            {% for hora in horas %}
            <option >{{hora}}</option>
            {% endfor%}
        </select>
    </div>
    <div class="text-center">
        <label for="">Selecione Funcionario : </label>
        
        <select class="select" name="funcionario" id="funcionario">
            {% for funcionario in funcionarios %}
            <option >{{funcionario}}</option>
            {% endfor%}
        </select>
    </div>
</div>
<br>
<br>
    <input type="submit" required value="Agendar" class="btn btn-success">
        </form>
   </div>
</div>
{% endblock %}