{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/autenticacao.css' %}">
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" >
{% endblock %}

{% block 'body' %}

{% if messages %}
<br>
{% for message in messages %}
<div class="alert {{message.tags}}">
{{message}}
</div>
{% endfor %}
{% endif %}

    <div class="box text-center">
        <form action="{% url 'logar' %}" method="post">{% csrf_token %}

            <h1 class="titulo font-degrade borda-bottom-degrade">LOGAR</h2>
            <br>
            <span class="span-descricao">Nome de usuário:</span>
            <input type="text" class="form-control input-cadastro" name="username">
            <br>
            <span class="span-descricao">Senha:</span>
            <input type="password" class="form-control input-cadastro" name="password">
            <br>
            <input  type="submit" value="LOGAR" class="btn btn-success btn-lg">
            <a href="{% url 'cadastro' %}" class="btn btn-primary btn-lg">CADASTRO</a> 
            <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
        </form>
            
    </div>
{% endblock %}